.booklist,
.book-details {
  padding: 3rem 0;
}
.booklist-content {
  gap: 3rem;
}
.book-item {
  padding: 3rem 2rem;
  border-radius: 4px;
  background-color: #DCE2F0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px 0px;
  transition: var(--transition);
  height: 100%;
  width: 100%;
}
.all-books {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.img-info {
  display: flex;
  height: 100%;
  width: 100%;
}
.bttns {
  padding-left: 55px;
  padding-bottom: 50px;
  background-color: #DCE2F0;
}
.book-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #DCE2F0;
}
.book-item-img img {
  max-width: 180px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}
.book-item-info {
  margin-top: 5px;
}
.book-item-info-item.title {
  line-height: 1.4;
  margin-bottom: 0.8rem;
  margin-top: 5px;
}
.book-item-info-item.author {
  line-height: 1.4;
  margin-bottom: 4px;
  margin-top: 5px;
}
.book-item-info-item:not(.book-item-info-item.title) span:last-child {
  opacity: 0.8;
}
.book-item-info-item.publish-year {
  opacity: 0.6;
  font-style: italic;
  font-size: 14px;
  margin-top: 5px;
}
.book-item-info-item.edition-count {
  margin-top: 5px;
}

.add-mylist-read{
  display: flex;
  flex-direction: column;
}

.btn-add {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background-color: #50586C;
  padding: 5px;
  height: 45px;
  width: 150px;
  border-radius: 25px;
}

.btn-add:hover {
  background-color: teal;
  transition: 0.2s;
  
}

.btn-text{
  color: #DCE2F0;
  font-size: 14px;
}

.btn-text:hover {
  background-color: teal;
  transition: 0.5s;
}

.btn-add2 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  background-color: #50586C;
  padding: 5px;
  height: 45px;
  width: 150px;
  border-radius: 25px;
}

.btn-add2:hover {
  background-color: teal;
  transition: 0.2s;
  
}

.btn-text2{
  color: #DCE2F0;
  font-size: 14px;
}

.btn-text2:hover {
  background-color: teal;
  transition: 0.5s;
}

@media screen and (min-width: 600px) {
  .booklist-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .booklist-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .book-item-img img {
    max-width: 150px;
  }
}

@media screen and (min-width: 992px) {
  .booklist-content {
    grid-template-columns: repeat(4, 1fr);
  }
  .book-item-img img {
    max-width: 120px;
  }
}
